.attribution { 
    font-size: 11px; 
    text-align: center;
}
.attribution a { color: hsl(228, 45%, 44%); }

footer {
    margin-top: -1em;
}

@font-face {
    font-family: Fraunces;
    src: url(fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(fonts/montserrat/Montserrat-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  

body {
    background-color: hsl(30, 38%, 92%);
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
}

#main-div {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    border-radius: 10px;
    margin: 1em;
}

#image {
    content: url('image-product-desktop.jpg');
    width: 20em;
    border-radius: 10px 0 0 10px;
}

#info {
    background-color: white;
    width: 20em;
    padding: 2em;
    border-radius: 0 10px 10px 0;
    
}

.perfume {
    font-weight: normal;
    font-size: smaller;
    letter-spacing: 5px;
    margin-bottom: 1em;
    color: hsl(228, 12%, 48%);
}

.title {
    font-family: Fraunces;
    margin: 19px auto;
    color: hsl(212, 21%, 14%);
    font-size: 2em;
    font-weight: 700 ;
}

p {
    font-size: 14px;
    margin: 1em auto;
    line-height: 1.5;
    color: hsl(228, 12%, 48%);
}

.price {
    display: flex;
    align-items: center;
    margin: 2em auto;
}

.discount {
    font-family: Fraunces, Sans-serif;
    font-size: 2em;
    color: hsl(158, 36%, 37%);
    font-weight: bold;
}

.initial-price {
    padding-left: 1.5em;
    text-decoration: line-through;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}

#cart {
    padding-right: 0.5em;
}

button {
    height: 4em;
    width: 100%;
    margin: 2px auto 0;
    font-weight: bold;
    font-size: 14px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    border: none;
    border-radius: 8px;
}

button:hover {
    background-color: hsl(158, 100%, 11%);
}

/* for smaller screens */
@media only screen and (max-width: 600px) {
    #main-div {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    #image {
        content: url('image-product-mobile.jpg');
        border-radius: 10px 10px 0 0;
        width: 22em;
    }

    #info {
        border-radius: 0 0 10px 10px;
        width: 22em;
        padding: 28px;
    }

    .price {
        margin: 1em auto;
    }

    button {
        height: 3.5em;
    }
}
